<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Gestión de Clientes</title>
    </h:head>
    <h:body>
        <p:growl id="msj" />
        <h:form id="formCliente">
            <p:toolbar style="height:70px">
                <f:facet name="left">
                    <p:commandButton value="Nuevo Cliente" title="Crear" 
                                     icon="ui-icon-plus" oncomplete="PF('dialogoCrear').show();"/>
                </f:facet>
            </p:toolbar>
            <div style="margin-top: 10px;"/>
            <p:dataTable var="c" value="#{managedCustomer.listCustomers}"
                         emptyMessage="No se encontraron registros"
                         id="tablaClientes" 
                         style="text-align: center;">
                <p:column headerText="Tipo Identificación">
                    <h:outputText value="#{c.identificationTypeId.name}"/>
                </p:column>
                <p:column headerText="Número Identificación">
                    <h:outputText value=" #{c.identificationNumber}"/>
                </p:column>
                <p:column headerText="Nombre Completo">
                    <h:outputText value=" #{c.fullName}"/>
                </p:column>
                <p:column headerText="Celular">
                    <h:outputText value=" #{c.cellPhoneNumber}"/>
                </p:column>
                <p:column headerText="Email">
                    <h:outputText value=" #{c.email}"/>
                </p:column>
                <p:column headerText="Dirección">
                    <h:outputText value=" #{c.address}"/>
                </p:column>
                <p:column headerText="Campaña">
                    <h:outputText value=" #{c.bellsId.name}"/>
                </p:column>
                <p:column style="text-align: center;width:70px">
                    <f:facet name="header">
                        <h:outputText value="Acciones"/>
                    </f:facet>
                    <p:commandButton title="Editar"
                                     icon="ui-icon-pencil" actionListener="#{managedCustomer.editar(c)}" update=":formCrear" oncomplete="PF('dialogoCrear').show();">
                    </p:commandButton> 
                    <p:commandButton id="btnEliminar" title="Eliminar" 
                                     icon="ui-icon-trash" actionListener="#{managedCustomer.eliminar(c)}" update=":formCliente :msj">
                        <p:confirm header="Confirmación" message="Está seguro que desea eliminar?" icon="ui-icon-alert" />
                    </p:commandButton> 
                </p:column>
            </p:dataTable>
            <p:confirmDialog global="true"
                             showEffect="fade" 
                             hideEffect="fade">
                <center>
                    <p:commandButton value="Si" 
                                     type="button" 
                                     styleClass="ui-confirmdialog-yes" 
                                     icon="ui-icon-check"/>
                    <p:commandButton value="No" 
                                     type="button" 
                                     styleClass="ui-confirmdialog-no" 
                                     icon="ui-icon-close"/>   
                </center>                   
            </p:confirmDialog>
        </h:form>

        <p:dialog widgetVar="dialogoCrear" modal="true" showEffect="clip" header="Nuevo Cliente" resizable="false">
            <p:ajax event="close" listener="#{managedCustomer.limpiar()}" update=":formCrear"/>
            <h:form id="formCrear"> 
                <p:panelGrid columns="2">
                    <p:outputLabel value="Tipo Identificación" for="tipoIdentificacion"/>
                    <p:selectOneMenu id="tipoIdentificacion" label="Tipo Identificación" value="#{managedCustomer.identificationType.id}" effect="fold" required="true">
                        <f:selectItem itemLabel=" -- " itemValue="#{null}" noSelectionOption="true" />
                        <f:selectItems value="#{managedIdentificationType.listIdentificationTypes}" var="bell" itemValue="#{bell.id}" itemLabel="#{bell.name}" itemDescription="#{bell.code}" />
                    </p:selectOneMenu>

                    <p:outputLabel value="Número Identificación" for="numeroIdentificacion"/>
                    <p:inputText id="numeroIdentificacion" label="Número Identificación" value="#{managedCustomer.customer.identificationNumber}" maxlength="32" required="true">
                    </p:inputText>

                    <p:outputLabel value="Nombre Completo" for="nombreCompleto"/>
                    <p:inputText id="nombreCompleto" label="Nombre Completo" value="#{managedCustomer.customer.fullName}" maxlength="64" required="true">
                    </p:inputText>

                    <p:outputLabel value="Celular" for="celular"/>
                    <p:inputText id="celular" label="Celular" value="#{managedCustomer.customer.cellPhoneNumber}" maxlength="16" required="true">
                    </p:inputText>

                    <p:outputLabel value="Email" for="email"/>
                    <p:inputText type="email" id="email" label="Email" value="#{managedCustomer.customer.email}" maxlength="128" required="true">
                    </p:inputText>

                    <p:outputLabel value="Dirección" for="direccion"/>
                    <p:inputText id="direccion" label="Dirección" value="#{managedCustomer.customer.address}" maxlength="264" required="true">
                    </p:inputText>

                    <p:outputLabel value="Campaña" for="campana"/>
                    <p:selectOneMenu id="campana" label="Campaña" value="#{managedCustomer.bell.id}" effect="fold" required="true">
                        <f:selectItem itemLabel=" -- " itemValue="#{null}" noSelectionOption="true" />
                        <f:selectItems value="#{managedBell.listBells}" var="identificationType" itemValue="#{identificationType.id}" itemLabel="#{identificationType.name}" itemDescription="#{identificationType.code}" />
                    </p:selectOneMenu>

                    <p:outputLabel value="Acción" style="font-weight:bold"/>
                    <p:commandButton rendered="#{managedCustomer.customer.id == 0}" value="Crear" title="Crear"
                                     icon="ui-icon-disk" actionListener="#{managedCustomer.guardar()}" update=":formCliente formCrear :msj" oncomplete="PF('dialogoCrear').hide();">
                    </p:commandButton>
                    <p:commandButton rendered="#{managedCustomer.customer.id != 0}" value="Modificar" title="Crear"
                                     icon="ui-icon-disk" actionListener="#{managedCustomer.modificar()}" update=":formCliente formCrear :msj" oncomplete="PF('dialogoCrear').hide();">
                    </p:commandButton>
                </p:panelGrid>
            </h:form>
        </p:dialog>
    </h:body>
</html>

